.visual_container{
    display: grid;
    margin: 10px;
    height: 95vh;
    place-items: center;
    -webkit-box-shadow: 0 0 16px 2px rgba(0,0,0,0.8);
	box-shadow: 0 0 16px 2px rgba(0,0,0,0.8);
}

.visual{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);

    font-size: 30px;

    padding: 3em 2em 3em 2em;
    grid-gap: 1em;
    width: 73vmin;
    margin: auto;
    border-radius: 10px;
    border: 2px solid black;
    place-items: center;
    
    -webkit-box-shadow: 0 0 16px 2px rgba(0,0,0,0.8);
	box-shadow: 0 0 16px 2px rgba(0,0,0,0.8);
}

.start_pointer{
    grid-row: 1;
}

.visual_content{
    grid-row: 2;
}

.right_pointer{
    grid-row: 3;
}